<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <appSettings>
       <add key="Server" value="serverName"/>
       <add key="Port" value="portNumber"/>
       <add key="Username" value="username"/>
       <add key="Password" value="password"/>
       <add key="Database" value="databaseName"/>
       <add key="EmailRaport" value="test@test.com"/>
       <add key="SendEmail" value="da"/>
       <add key="SendRaport" value="da"/>
    </appSettings>
</configuration>
